server:
  port: 8080

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/logistics
    username: root
    password: password
  mybatis:
    mapper-locations: classpath:mapper/*.xml
    config-location: classpath:mybatis-config.xml

# Additional configuration properties may follow...